[global]
    # Basic Server Settings
    netbios name = router
    server string = router.lan
    workgroup = WORKGROUP
    unix charset = UTF-8

    # Network & Interface
    interfaces = br-lan.100 br-lan.200 br-lan.300
    bind interfaces only = yes
    
    # Modern direct SMB only
    disable netbios = yes
    smb ports = 445

    # Explicitly do not participate in old browser elections
    local master = no
    preferred master = no
    domain master = no
    wins support = no
    dns proxy = yes
    access based share enum = yes

    # SMB Protocol
    server min protocol = SMB2
    server max protocol = SMB3
    client min protocol = SMB2
    client max protocol = SMB3

    # Discovery / naming
    mdns name = netbios

    # Case Sensitivity
    case sensitive = no
    default case = lower
    preserve case = yes
    short preserve case = yes

    # Security & Authentication
    security = user
    map to guest = Bad User
    invalid users = root
    passdb backend = smbpasswd
    enable core files = no
    ntlm auth = no

    # Performance
    deadtime = 15
    socket options = IPTOS_LOWDELAY TCP_NODELAY

    # Printing
    load printers = no
    printcap name = /dev/null
    disable spoolss = yes
    printing = bsd

    # File Access Control
    veto files = /Thumbs.db/.DS_Store/._.DS_Store/.apdisk/lost+found/
    delete veto files = yes

####################################################################
# SHARES
####################################################################

[Music]
    path = /mnt/sdb1/music
    guest ok = yes
    read only = yes
    force user = root
    force group = root
    create mask = 0666
    directory mask = 0777
    vfs objects = io_uring
    hosts allow = 192.168.1.0/24 192.168.2.0/24 192.168.3.0/24
    hosts deny = 0.0.0.0/0
